@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.OA.Contract

@model PagedList<Staff>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span4">
        <div>
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>
            <a class="btn blue thickbox" title='添加新食谱' href="/OA/Staff/Add?TB_iframe=true&height=600&width=700"><i class="icon-plus icon-white"></i> 新增</a>
        </div>
    </div>
    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        { 
        @*<div class="dataTables_filter">
            <label>
                <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
             </label>
            <label>
                <span>食谱名：</span>
                @Html.TextBox("Name", null, new { @class = "m-wrap small" })
            </label>
        </div>*@
        }
    </div>
</div>

<div class="alert alert-info">
    <button class="close" data-dismiss="alert"></button>
    仅保存接下来 <strong>7 日内 </strong>的食谱！
</div>

@using (Html.BeginForm("Delete", "Staff", FormMethod.Post, new { id = "mainForm" }))
{
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th style="width: 8px;">
                <input type="checkbox" id="checkall" class="group-checkable" />
            </th>
            <th>
                食谱名
            </th>
            <th>
                制定人/单位
            </th>
            <th>
                制定日期
            </th>
            <th>
                审核日期
            </th>
            <th>
                通过日期
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var m in Model)*@
        @for(int i=0;i<10;i++)
        {
        <tr>
            <td>
                <input type="checkbox" class="checkboxes" name='ids' value='@i' />
            </td>
            <td>
                @i
            </td>
            <td>
                哈哈哈
            </td>
            <td>
                哈哈哈哈
            </td>
            <td>
                哈哈哈哈哈
            </td>
            <td>
                哈哈哈哈哈哈
            </td>
            <td>
                <a class="btn mini purple thickbox" title='食谱详细信息' href="/OA/Staff/ReadOny/@i?TB_iframe=true&height=600&width=700">
                    <i class="icon-edit"></i>
                    详情
                </a>
                <a class="btn mini purple thickbox" title='编辑食谱信息' href="@Url.Action("Edit", new { id = @i })?TB_iframe=true&height=600&width=700">
                    <i class="icon-edit"></i>
                    编辑
                </a>
            </td>
        </tr>
        }
    </tbody>
    
</table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { ShowTotalItemCount = true })
</div>

