@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.OA.Contract

@model PagedList<Branch>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row-fluid">
    <div class="span4">
        <div>
            <a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>
            <a class="btn blue thickbox" title='添加新需求' href="@Url.Action("Create")?TB_iframe=true&height=600&width=750"><i class="icon-plus icon-white"></i> 新增</a>
        </div>
    </div>
    <div class="span8">
        @using (Html.BeginForm(null, null, null, FormMethod.Get, new { id = "search" }))
        { 
        <div class="dataTables_filter">
            @*<label>
                <button type="submit" class="btn">搜索 <i class="icon-search"></i></button>
            </label>*@
            @*<label style="margin-left:80px;">
                <span>名称：</span>
                @Html.TextBox("Name", null, new { @class = "m-wrap small" })
            </label>*@

            <label>
                <span>预算资金：</span>
                <input type="text" readonly value="1000000" />
            </label>

            <label>
                <span>需求所需资金：</span>
                <input type="text" readonly value="100005" />
            </label>

        </div>

        }
    </div>
</div>
<div class="alert alert-info">
    <button class="close" data-dismiss="alert"></button>
    请在预算内做修改，<strong>请勿超出</strong> 预算!
</div>

@using (Html.BeginForm("Delete", "Branch", FormMethod.Post, new { id = "mainForm" }))
{
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th style="width: 8px;">
                <input type="checkbox" id="checkall" class="group-checkable" />
            </th>
            <th>
                名称
            </th>
            <th>
                制定人/单位
            </th>
            <th>
                需求简介
            </th>
            <th>
                所需资金
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var m in Model)*@
        @for(int i=0;i<5;i++)
        {
        <tr>
            <td>
                <input type="checkbox" class="checkboxes" name='ids' value='@i' />
            </td>
            <td>
                肌肉
            </td>
            <td>
                国家
            </td>
            <td>
                哈哈哈
            </td>
            <td>
                20000.5
            </td>
            <td style="width:150px;">
                <a class="btn mini purple thickbox" title='编辑部门内容' href="@Url.Action("Edit", new { id = @i })?TB_iframe=true&height=600&width=750">
                    <i class="icon-edit"></i>
                    详情
                </a>
                @*<a class="btn mini purple thickbox" title='编辑部门内容' href="/OA/Branch/Bj/@m.ID?TB_iframe=true&height=600&width=750">
                    <i class="icon-edit"></i>
                    编辑
                </a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
}
<div class="dataTables_paginate paging_bootstrap pagination">
    @Html.Pager(Model, new PagerOptions() { ShowTotalItemCount = true })
</div>

